body{
    margin: 0px 30px 0px 30px;
    /* background-image: url("/img/OIP.jpg") */
    background-color: #222233;
  }
.nav_menu{
           
    overflow: hidden;
}
.nav_menu a{
float: left;
    display:block;
    color: #9711cb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}
.nav_menu a:hover
{
    background-color:orange;
    color:white;
}
#main-menu{
    background-color: aqua;
    margin: 5px ;
    padding: 10px;
}


        *{
            padding: 0;
            margin: 0;
            color: #454545;
        }
        h1{
            width: 3%;
            position: relative;
            top: 60px;
            left: 90%;
            cursor: pointer;
        }
        h1:before{

            content: attr(data-count);
            position: absolute;
            color: white;
            right: 16px;
            font-size: 15px;
            text-align: center;
            top: -12px;
            width: 20px;
            height: 20px;
            background: red;
            border-radius: 50%;
            opacity: 0;
        }

        h1.zerp:before{
            opacity: 1;
        }
        section{
            width: 90%;
            height: 400px;
            display: flex;
            justify-content: space-around;
            margin: 100px auto;
        }

        section div{
            width: 24%;
            height: 93%;
            background: transparent;
            padding: 1%;
            position: relative;
        }
        img{
            width: 261px;
            height: 300px;
        }
       p{
        margin: 5px;
       }
       h6{
        /* width: 50px; */
        padding: 5px;
        margin: 10px;
        font-size: 15px;
        color: whitesmoke;
        text-align: center;
       }

       button{
        padding: 5px;
        background: #8f4997;
        border: none;
        outline: none;
        font-weight: bold;
        color: #fafafa;
        cursor: pointer;
        margin-left: 85px;
       }

       section div span{
        position: absolute;
        top: 14px;
        left: 13px;
        width: 300px;
        height: 186px;
       }

       section div span img{
        width: 100%;
        height: 100%;
       }

       section div:nth-child(1)>span.active{
        animation: first 0.5s ease-in;
        z-index: 2;
        display: block;
       }
       section div:nth-child(2)>span.active{
        animation: second 0.5s ease-in;
        z-index: 2;
        display: block;
       }
       section div:nth-child(3)>span.active{
        animation: third 0.5s ease-in;
        z-index: 2;
        display: block;
       }
       section div:nth-child(4)>span.active{
        animation: four 0.5s ease-in;
        z-index: 2;
        display: block;
       }

       @keyframes first{
         to{
            width: 30px;
            height: 20px;
            left: 1290px;
            top: -70px;

         }
       }
       @keyframes second{
         to{
            width: 30px;
            height: 20px;
            left: 948px;
            top: -70px;
            
         }
       }
       @keyframes third{
         to{
            width: 30px;
            height: 20px;
            left: 606px;
            top: -70px;
            
         }
       }
       @keyframes four{
         to{
            width: 30px;
            height: 20px;
            left: 265px;
            top: -70px;
            
         }
       }
       .select{
        width: 60%;
        height: 580px;
        padding: 5%;
        background: #222;
        position: absolute;
        top: -1000px;
        left: 20%;
        transition: 0.5s;
        overflow-y: auto;
        margin: auto;
       }
       .select.display{
        top: 10px;
       }
       .select div{
        width: 100%;
        height: 200px;
        display: flex;
        padding: 5px;
        border: 1px solid white;
        position: relative;
        margin: 5px auto;
       }
       .select div img{
        width: 271px;
        height: 100%;
       }
       .select div p{
        padding: 35px;
        color: white;
       }
       .select div p,
       .select div button{
        position: absolute;
        left: 45%;
        top: 50%;
        color: white;

       }

       .select div button{
        left: 60%;
        top: 55%;
       }
       .select div span{
        display: none;
       }

       .select div h6{
        float: left;
       }

       .top_nav{
        padding: 0px;
        background-color: aliceblue;
        width: 88%;
        margin-left: 80px;
       }

       .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: blue;
        font-size: 35px;
        font-weight: bold;
    }

   h1{
    width: 100px;
   }
   .select div h5 {
    color: antiquewhite;
position: relative;
width: 25%;
text-align: end;
  }